
navbar {
  background-color: #000;
}

#home-heading-section {
  background-color: #556B2F;
}

#home-heading h1 {
  text-shadowing: 1px 1p 1px #000;
}

#home-icons .fas {
  background-color: #D3D3D3;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 7px;
}
