
.navbar {
  background-color: #000;
  word-spacing: 14px;
  letter-spacing: 2px;
  font-size: 18px;
  border-radius: 2px;
}

#home-heading {
  background-color: #D3D3D3;
}

#home-heading .photo {
  border: 2px solid #000;
  border-radius: 7px;
}

  #home-heading h4 {
    font-family: Shadow Into Light, sans-serif;
    font-weight: normal;
  }
  
 h3 {
  text-decoration: italic;
  text-shadowing: 1px 1p 1px #000;
}

  .fas {
    background-color: #D3D3D3;
    color: #000;
    font-weight: normal;
    border: 3px solid #000;
    border-radius: 7px;
    padding: 15px;
    
  }
  
  #contact .container {
    border-radius: 5px solid #000;
  }
  
  
