
.navbar {
  background-color: #000;
  word-spacing: 5px;
  letter-spacing: 2px;
  font-size: 18px;
}

#home-heading {
  background-color: #D3D3D3;
}

#home-heading .photo {
  border: 2px solid #000;

h3 {
  text-shadowing: 1px 1p 1px #000;
}

#home-icons .fas {
  background-color: #F0F0F0;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 7px;
}
